<nav id="menu">
	<a class="close-button">Close</a>
	<div class="nav-wrapper">
		<p class="nav-label">Menu</p>
		<ul>
			{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
			{{/foreach}}
            <li class="nav-support"><a href="#"><i class="fas fa-dollar-sign"></i>  Support</a></li>
			{{#if @labs.subscribers}}
			<li class="nav-subscribe"><a href="{{@blog.url}}/subscribe/"><i class="fas fa-at"></i>  Subscribe Email</a></li>
			<li class="nav-rss"><a href="{{@blog.url}}/rss/"><i class="fas fa-rss"></i>  Subscribe RSS</a></li>
			{{else}}
			<li class="nav-rss"><a href="#"><i class="fas fa-at"></i>  Subscribe Email</a></li>
			<li class="nav-rss"><a href="{{@blog.url}}/rss/"><i class="fas fa-rss"></i>  Subscribe RSS</a></li>
			{{/if}}
		</ul>
	</div>
</nav>